.header {
    background: url(../assets/image-1.jpeg) center/cover no-repeat;
    min-height: 100vh;
    .header-flex {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__item--main:nth-of-type(5) {
    margin-right: 0;
}

.nav__link--last {
    padding-right: 0;
}

.header-bottom {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}

.header__text {
    @include heading-text(5.8rem);
    margin: 0;
}

.header__text--small {
    font-size: 2.6rem;
    margin: 5px 0 10px 0;
}

// ====================
// MEDIA QUERIES
// ====================

@media (max-width: 1100px) {
    .nav__item {
        margin: 0 10px;
    }
    
    .nav__link--main {
        font-size: 1.8rem;
    }
} // = = = = = = = = = = = = = = = END MAX-WIDTH 1100px

@media (max-width: 900px) {
    .header-flex {
        padding: 0;
    }

    .header-top {
        background: $black;
        padding: 10px 20px;
        flex-wrap: wrap;
    }

    .logo,
    .menu-btn {
        width: 50%;
    }

    .header-bottom {
        padding: 0 25px;
    }



    // .logo,
    // .menu-btn {
    //     width: 45%;
    // }

    // // .nav__container--main {
    // //     width: 100%;
    // //     position: relative;
    // //     top: 0;
    // //     height: 0;
    // // }

    // .nav--main {
    //     position: absolute;
    //     width: 100%;
    //     // height: calc(100vh - 100px);
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: space-around;
    //     margin: 0;
    //     padding: 20px 0;
    //     background: rgba(42, 42, 42, 0.98);   
    // }

    // .nav__item--main {
    //     margin: 0;
    //     padding: 10px 50px;
    // }

    // .nav__link--main {
    //     display: block;
    //     letter-spacing: 3px;
    //     padding: 20px 100px;
    // }



    .menu-icon__hamburger {
        display: block;
        background: #fff;
        height: 3px;
        width: 40px;
        position: relative;
        &:hover {
            cursor: pointer;
        }
        &::before,
        &::after {
            display: block;
            background: #fff;
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
        }
        &::before {
            bottom: 10px;
            margin-top: 10px;
            &:hover {
                cursor: pointer;
            }
        }
        &::after {
            top: 10px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
