html {
    font-size: 62.5%;
}

body {
    font-family: "Lora", serif;
    font-size: 1.6rem;
}

p {
    font-size: 1.8rem;
    color: $black;
}

.p--white {
    color: #fff;
}

.textblock {
    font-size: 2.4rem;
    line-height: 1.5;
}

.textblock--grey {
    color: $grey;
}

.textblock--white {
    color: #fff;
}

.textblock--small {
    font-size: 1.8rem;
}

h1 {
    @include heading-text(4rem);
    margin: 0
}

h2 {
    @include heading-text(4rem, $black);
}

.h2--grey {
    color: $grey;
}

.h2--white, .h3--white {
    color: #fff;
}

h3 {
    @include heading-text(2.6rem, $black);
}

h6 {
    @include heading-text(1.4rem);
    margin: 0;
}